.header {
	border-radius: 10px;
	text-align: center;
	background-color: #1C5784;
	color: white;
	width: 100%;
	height: 20%;
	margin-bottom: 10px;
	margin-top: -40px;
	text-shadow: 2px 2px #222;
	}

.header:hover {
	background-color: #59ADDB;
	color: black;
	text-shadow: none;

}

.header_text {
	padding-top: 3%;
	font-size: 35px;
	letter-spacing: 3px;
}

.aside {
	padding: 3%;
}

.aside_box {
	border: 1px solid #bbb;
 	background-color: #eee;
	border-radius: 10px;
	line-height: 150%;
	margin-top: 3%;
}

.article {
	padding: 1%;
	font-size: 20px;
}

.article_box {
	border-radius: 10px;
	line-height: 150%;
}

.footer {
	background-color: #1C5784;
	width: 100%;
	height: 10%;
	color: white;
	text-align: center;
	padding-top: 1%;
	border-radius: 10px;
	text-shadow: 2px 2px #222;
}

.footer:hover {
	background-color: #59ADDB;
	color: black;
	text-shadow: none;
}

@media (max-width: 991px) {
	.header {
		background-color: #41C288;
		color: #444;
		margin-top: -30px;
		height: 60px;
		border: none;
		text-shadow: none;
	}

	.header:hover {
		background-color: #3F7D96;
	}

	.header_text {
		font-size: 30px;
		font-weight: 700;
		padding-top: 15px;
	}

	.aside_box {
		border: none;
		background-color: #66FFBE;
		color: #163836;
		font-size: 12px;
	}

	.article {
		color: #555;
		line-height: 150%;
		font-size: 16px;
	}

	.footer {
		color: #444;
		background-color: #41C288;
		text-shadow: none;
		margin-top: 10px;
	}

	.footer:hover {
		background-color: #3F7D96;
	}
}


@media (max-width: 767px) {
	body {
		background-color: #888;
	}

	.header {
		background-color: #382412;
		margin-top: -30px;
		height: 60px;
		color: #ccc;
		border: none;
	}

	.header:hover {
		background-color: #8A6700;
	}

	.header_text {
		font-size: 30px;
		padding-top: 15px;
	}

	.aside_box {
		margin: 0 10% 0 10%;
		background-color: #444;
		color: #aaa;
		font-size: 20px;
	}

	.article {
		margin: 5%;
		padding: 2%;
		background-color: #2E220B;
		border-radius: 20px;
		color: #aaa;
		line-height: 150%;
		font-size: 25px;
	}

	.footer {
		background-color: #382412;
		color: #ccc;
	}

	.footer:hover {
		background-color: #8A6700;
	}
}

@media (max-width: 640px) {
	body {
		background-color: #3D6E96;
	}
}

@media (max-width: 480px) {
	body {
		background-color: #67FF62;
	}
}
