{% extends 'base.html' %}

{% block title %}Post details{% endblock title %}

{% block content %}
<div class="container col-sm-6 col-sm-offset-3 text-center">
  <br>
  {{ object.user }}<br>
  {{ object.content }}<br>
  {{ object.timestamp|timesince }} ago
  <br>
  <br>
  <a href="{{ obj.get_absulute_url }}edit/">
    <button class="btn btn-primary search_btn btn-xs" type="button" name="button">Edit</button>
  </a>
  <a href="{{ obj.get_absulute_url }}delete/">
    <button class="btn btn-danger search_btn btn-xs" type="button" name="button">Delete</button>
  </a>
</div>
{% endblock content %}
