{% extends 'base.html' %}

{% block title %}Tweets | {{ block.super }}{% endblock %}

{% block content %}
<div class="container col-sm-6 col-sm-offset-3 tweet_list">
  <h3>Tweets</h3>
  {% for obj in object_list %}
  <div class="media tweet">
    <div class="media-left">
      <img src="#" alt="" class=media-object>
    </div>
    <div class="media-body">
      <div class="row">
        <div class="col-sm-9">
          {{ obj.content }}
        </div>
        <div class="col-sm-3 tweet_footer">
          #{{ obj.id }}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-3">
          <a href="{{ obj.id }}">
            <div class="btn btn-primary btn-xs">View</div>
          </a>
        </div>
        <div class="col-sm-9">
          <div class="tweet_footer">
            via {{ obj.user }} | {{ obj.timestamp|timesince }} ago
          </div>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
    {% if request.GET.q %}
      <p>No Tweets Found.</P>
    {% else %}
      <p>No tweets yet.</p>
    {% endif %}
  {% endfor %}
</div>
{% endblock content %}
