body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom left, #0a65b8, #48a820)
}

header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 400px;
  color: #eee;
  text-shadow: 2px 2px 5px #222;
  /*border-bottom: 3px solid #44c18f;*/
}

header h1 {
  font-family: 'Pacifico', cursive;
  margin-top: 50px;
  font-size: 90px;
}

header h3 {
  margin-top: 20px;
  font-size: 18px;
}

#inputError {
  min-height: 20px;
  position: relative;
  border-radius: 3px;
  color: rgb(109, 217, 194);
  font-weight: bold;
  text-shadow: 2px 2px 5px #000;
  margin-bottom: 0;
}

.inputField {
  margin-top: 5px;
  text-align: center;
}

.inputField input {
  color: #fff;
  text-shadow: 2px 2px 3px #000;
  font-size: 20px;
  width: 300px;
  border: none;
  padding: 5px;
  padding-top: 0;
  background: rgba(0, 0, 0, 0);
  border-bottom: 2px solid #44c18f;
}

.inputField .glyphicon-plus:hover {
  color: rgb(196, 255, 222);
}

.inputField .glyphicon-plus:focus {
  color: rgb(144, 222, 178);
}

.inputField .glyphicon-plus {
  color: #eee;
  padding: 5px;
  margin-top: 0;
  font-size: 20px;
  text-shadow: 2px 2px 2px #222;
}

.mainList {
  min-height: 130px;
  margin: 30px 25% 20px 25%;
  padding: 10px;
  background: rgba(0, 59, 25, 0.5);
  border-radius: 1em;
}

.mainList h3 {
  margin-left: 40px;
  margin-top: 0;
  text-align: center;
  font-weight: 100;
  color: #ccc;
  letter-spacing: 5px;

}

#noItems {
  text-align: center;
  font-size: 30px;
  margin-top: 25px;
  color: rgba(255, 255, 255, 0.2);
}

#reset {
  position: static;
  float: right;
  cursor: pointer;
  padding: 3px 0 3px 3px;
}

#resetTitle {
  float: right;
  font-size: 14px;
  letter-spacing: 1px;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
  padding: 5px 15px 15px 15px;
  margin: 10px;
  background: rgba(69, 171, 147, 0.3);
  border-radius: 10px;
  color: #eee;
  text-shadow: 2px 2px 4px #000;
  font-size: 16px;
}

ul li:hover {
  background: rgba(69, 171, 147, 0.6);
}

.glyphicon-check {
  color: rgb(0, 140, 60);
}

.glyphicon-unchecked, .glyphicon-check {
  margin: -15px 0 -15px -15px;
  padding: 15px;
  position: fixed;
  font-size: 22px;
  cursor: pointer;
}

.glyphicon-trash {
  padding: 15px;
  margin: -15px;
  float: right;
  font-size: 22px;
  cursor: pointer;
}

.glyphicon-trash:hover, #reset:hover {
  color: #89f1cf;
}

#timeStamp {
  text-align: right;
  font-size: 12px;
  color: #bbb;
  padding: 0 40px 0 0;
}

@media screen and (max-width: 1200px) {
  .mainList {
    margin: 20px 20% 20px 20%;
  }
}

@media screen and (max-width: 800px) {
  .mainList {
    margin: 20px 10% 20px 10%;
  }
}

@media screen and (max-width: 640px) {
  .mainList {
    margin: 20px 5% 20px 5%;
  }
}

@media screen and (max-width: 480px) {
  header {
    width: 70%;
  }

  header h1 {
    margin-top: 30px;
    font-size: 60px;
  }

  header h3 {
    font-size: 14px;
  }

  .inputField input {
    width: 70%;
  }

  .mainList {
    margin: 20px 1% 20px 1%;
  }

  ul li {
    margin: 0 0 5px 0;
  }

  .mainList {
    padding: 5px;
  }
}
