body {
  background-color: #777;
}

.navbar {
  background-color: #0C403D;
  border-radius: 0px;
}

.navbar-toggle {
  border: 1px solid white !important;
}

.navbar-toggle:hover {
  background-color: #46BF93 !important;
}

.navbar-toggle:focus {
  background-color: #0B6341 !important;
}

ul a {
  color: #fff !important;
}

ul a:hover {
  color: #46BF93 !important;
}

.content {
  max-width: 1024px;
}

.home {
  height: 1000px;
  margin-top: 2%;
  /*background-color: #333;*/
  background-image: url('../img/klava.jpg');
  background-size: cover;
}

.home img {
  margin-top: 10%;
  padding: 15%;
}

.home p {
  text-shadow: 2px 2px #000;
  color: white;
  font-size: 22px;
  margin-top: 20%;
}

.portfolio {
  padding-top: 5%;
  color: #666;
  background-color: #fff;
}

.portfolio_item {
  margin: 5% 2% 0 2%;
}

.description {
  padding-top: 5%;
  text-align: center;
}

.description p {
  font-size: 20px;
}

.portfolio_item img {
  /*padding-right: 3%;*/
}
