body {
  background-color: #777;
}

.navbar {
  background-color: #0C403D;
  border-radius: 0px;
}

.navbar-toggle {
  border: 1px solid white !important;
}

.navbar-toggle:hover {
  background-color: #46BF93 !important;
}

.navbar-toggle:focus {
  background-color: #0B6341 !important;
}

ul a {
  color: #fff !important;
}

ul a:hover {
  color: #46BF93 !important;
}

.content {
  max-width: 1024px;
}

.home {
  margin-top: 5%;
  background-image: url('../img/klava.jpg');
  background-size: cover;
}

.home img {
  margin-top: 10%;
  padding: 15%;
}

.home p {
  text-shadow: 2px 2px #000;
  color: white;
  font-size: 22px;
  margin-top: 20%;
}

.portfolio {
  padding-top: 5%;
  color: #777;
  background-color: #fff;
}

.portfolio_item {
  margin: 5% 2% 0 2%;
}

.portfolio_item img {
  border: 1px solid #aaa;
  border-radius: 10px;
}

.description {
  padding-top: 5%;
  text-align: center;
}

.description p {
  font-size: 20px;
}

form {
  padding: 4%;
}

.form-item {
  margin-top: 2%;
}

.contact {
  background-color: #444;
}

.contact p {
  font-size: 18px;
  color: #ccc;
  padding: 5%;
}

.contact h1 {
  color: #ccc;
  font-size: 40px;
  font-weight: 500;
}

.find {
  padding: 5% 0 %5 0;
  background-color: #aaa;
}

.find h1 {
  padding-top: 5%;
}

.find img {
  width: 70px;
  padding-bottom: 5%;
}

footer {
  background-color: #0C403D;
  height: 50px;
  color: #ddd;
  font-size: 15px;
  padding-top: 15px;
}
